{% extends 'base.html.twig' %}

{% block page_title 'Admin Dashboard' %}
{% block title 'Admin Dashboard' %}

{% block body %}
    {# FIXME: Afficher Hello <firstname> <lastname> #}
    <strong>Hello</strong> {{ app.user.firstname }} {{ app.user.lastname }}


    {# FIXME: Lister les utilisateurs et afficher un lien de suppression #}
    {% for u in users %}
        <ul>
            <li>
                <a href={{ path("app_user_profileaction",{'id':u.id} )}}>{{ u.firstname }} {{ u.lastname }} - {{ u.email }}</a>
                <a href={{ path("app_admin_deleteuseraction",{'id':u.id} )}}>delete</a>
            </li>
        </ul>
    {% endfor %}

    {#<ul>
        <li>
            <a href="/profile/1">John Doe - foo@exemple.org</a>
            <a href="/admin//delete-user/1">delete</a>
        </li>
        <li>
            <a href="/profile/2">Foo Bar - foo@exemple.org</a>
            <a href="/admin//delete-user/2">delete</a>

        </li>
    </ul>#}
{% endblock %}
